<mat-toolbar [ngStyle]="{ backgroundColor: theme.colours.navbar }">
  <mat-grid-list cols="12" [ngStyle]="{ width: '100%' }">
    <mat-grid-tile [colspan]="5">
      <div class="layout-content grid-tile-container">
        <button mat-icon-button routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
        <div>
          <span>Bundlee</span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5">
      <div class="grid-tile-container">
        <a
          routerLink="/collections"
          [ngStyle]="{
            paddingRight: theme.spacing['6'],
            textDecoration: 'none',
            color: 'black'
          }"
          >Collections</a
        >
        <a
          routerLink="/individual"
          [ngStyle]="{
            paddingRight: theme.spacing['6'],
            textDecoration: 'none',
            color: 'black'
          }"
          >Individual</a
        >
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div
        class="grid-tile-container"
        [ngStyle]="{
          display: 'flex',
          justifyContent: 'flex-end',
          paddingRight: theme.spacing['3']
        }"
      >
        <a
          *ngIf="!authInfo"
          routerLink="/register"
          [ngStyle]="{
            textDecoration: 'none',
            color: 'black',
            marginRight: theme.spacing['2']
          }"
        >
          Register
        </a>
        <a
          *ngIf="!authInfo"
          routerLink="/login"
          [ngStyle]="{ textDecoration: 'none', color: 'black' }"
          >Login</a
        >
        <button
          *ngIf="authInfo"
          mat-button
          [matMenuTriggerFor]="menu"
          [ngStyle]="{ fontSize: '20px' }"
        >
          {{ authInfo.username }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
<router-outlet></router-outlet>
