<div [ngStyle]="{ boxSizing: 'border-box', padding: theme.spacing['2'] }">
  <div
    *ngIf="!searched"
    [ngStyle]="{
      display: 'flex',
      justifyContent: 'center',
      marginBottom: theme.spacing['2']
    }"
  >
    Search through collections other people have made here!
  </div>
  <mat-form-field [ngStyle]="{ width: '100%' }">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="..."
      [(ngModel)]="search"
      name="search"
      (keyup.enter)="searchCollection({ refresh: true })"
    />
    <mat-icon matSuffix (click)="searchCollection({ refresh: true })"
      >search</mat-icon
    >
  </mat-form-field>
  <div
    [ngStyle]="{ display: 'flex', justifyContent: 'center' }"
    *ngIf="loading"
  >
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div
    *ngIf="searched && searchedCollections.length === 0"
    [ngStyle]="{
      display: 'flex',
      justifyContent: 'center',
      marginTop: theme.spacing['5']
    }"
  >
    No results found.
  </div>
  <div *ngIf="searchedCollections.length > 0">
    <app-collection-list
      [collections]="searchedCollections"
    ></app-collection-list>
  </div>
</div>
